<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca669">  <td>18/06/07 13:15:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Config_MobileAndWeb.setUp()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/06/07 13:15:40</td>   <td>22757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Config_MobileAndWeb.setResultToFalse()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">&gt;&gt;setResultToFalse</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>18/06/07 13:15:40</td>   <td>22801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpenseValidation.RTS1()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">RTS1</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/06/07 13:16:48</td>   <td>90937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Config_MobileAndWeb.writtingResults()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">&lt;&lt;writtingResults</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/06/07 13:16:48</td>   <td>90944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Config_MobileAndWeb.setResultToFalse()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">&gt;&gt;setResultToFalse</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>18/06/07 13:16:48</td>   <td>90944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpenseValidation.RTS2()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">RTS2</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/06/07 13:16:48</td>   <td>91192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Config_MobileAndWeb.writtingResults()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">&lt;&lt;writtingResults</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/06/07 13:16:48</td>   <td>91219</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Config_MobileAndWeb.tearDown()[pri:0, instance:requirementGroup.Expense.ExpenseValidation@14bf9759]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
</table>
